<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tracebot_mockup">

  <xacro:include filename="$(find tracebot_mockup_description)/urdf/tracebot_mockup_macro.urdf.xacro"/>

  <!--Add parameters to robot base-->
  <xacro:tracebot_mockup
    robot_name="$(arg robot_name)"
    mount_base_width="$(arg mount_base_width)"
    mount_base_length="$(arg mount_base_length)"
    mount_base_height="$(arg mount_base_height)"
    arm_mount_offset_x="$(arg arm_mount_offset_x)"
    arm_mount_offset_y="$(arg arm_mount_offset_y)"
    arm_mount_offset_z="$(arg arm_mount_offset_z)"
    arm_mount_offset_theta="$(arg arm_mount_offset_theta)"
    arm_base_tilt="$(arg arm_base_tilt)"
    left_arm_model="$(arg left_arm_model)"
    right_arm_model="$(arg right_arm_model)"
  />
</robot>
