<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="tracebot_mockup_gazebo" params="
    robot_mount_offset_x
    robot_mount_offset_y
    robot_mount_offset_z
    robot_mount_offset_theta
    robot_mount_height
    robot_mount_length
    robot_mount_width
    robot_base_tilt
    left_arm
    right_arm">
    
    <xacro:include filename="$(find tracebot_mockup_description)/urdf/tracebot_mockup_macro.urdf.xacro"/>
    
    <xacro:tracebot_mockup
      robot_mount_offset_x="${robot_mount_offset_x}"
      robot_mount_offset_y="${robot_mount_offset_y}"
      robot_mount_offset_z="${robot_mount_offset_z}"
      robot_mount_offset_theta="${robot_mount_offset_theta}"
      robot_mount_height="${robot_mount_height}"
      robot_mount_length="${robot_mount_length}"
      robot_mount_width="${robot_mount_width}"
      robot_base_tilt="${robot_base_tilt}"
      left_arm="${left_arm}"
      right_arm="${right_arm}"
    />

    <gazebo reference="robot_mount_base">
      <selfCollide>true</selfCollide>
    </gazebo>
  </xacro:macro>

</robot>
