<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="tracebot_mockup_gazebo">

  <xacro:include filename="$(find tracebot_mockup_gazebo)/urdf/tracebot_mockup_macro.urdf.xacro"/>

  <!--Robot base parameters-->
  <xacro:arg name="robot_name" default="tracebot"/>

  <xacro:arg name="mount_base_width" default="0.55"/>
  <xacro:arg name="mount_base_length" default="0.55"/>
  <xacro:arg name="mount_base_height" default="1.27"/>

  <xacro:arg name="arm_mount_offset_x" default="0.1293"/>
  <xacro:arg name="arm_mount_offset_y" default="0.0"/>
  <xacro:arg name="arm_mount_offset_z" default="0.0707"/>
  <xacro:arg name="arm_mount_offset_theta" default="0.0"/>

  <xacro:arg name="arm_base_tilt" default="0.785398"/>

  <xacro:arg name="left_arm_model" default="ur5e"/>
  <xacro:arg name="right_arm_model" default="ur5e"/>

  <!--Robot arm parameters-->
  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!--Add parameters to robot base-->
  <xacro:tracebot_mockup_gazebo
    robot_name="$(arg robot_name)"
    mount_base_width="$(arg mount_base_width)"
    mount_base_length="$(arg mount_base_length)"
    mount_base_height="$(arg mount_base_height)"
    arm_mount_offset_x="$(arg arm_mount_offset_x)"
    arm_mount_offset_y="$(arg arm_mount_offset_y)"
    arm_mount_offset_z="$(arg arm_mount_offset_z)"
    arm_mount_offset_theta="$(arg arm_mount_offset_theta)"
    arm_base_tilt="$(arg arm_base_tilt)"
    left_arm_model="$(arg left_arm_model)"
    right_arm_model="$(arg right_arm_model)"
  />

  <!--Link base to world-->
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="$(arg robot_name)_base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <!-- Gazebo ROS Plugins -->
  <gazebo>
    <plugin name="ros_control" filename="libgazebo_ros_control.so">
      <!--robotNamespace>/</robotNamespace-->
      <!--robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType-->
    </plugin>
  </gazebo>

</robot>
