<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <xacro:macro name="tracebot_mockup_gazebo" params="
    robot_mount_offset_x
    robot_mount_offset_y
    robot_mount_offset_z
    robot_mount_offset_theta
    robot_mount_height
    robot_mount_length
    robot_mount_width
    robot_base_tilt
    left_arm
    right_arm
    camera_mount_offset_z">
    
    <xacro:include filename="$(find tracebot_mockup_description)/urdf/tracebot_mockup_macro.urdf.xacro"/>
    <!--xacro:include filename="$(find tracebot_macro_gazebo)/urdf/_d435.gazebo.xacro"/-->
    
    <!--Pass arguments to tracebot_mockup-->
    <xacro:tracebot_mockup
      robot_mount_offset_x="${robot_mount_offset_x}"
      robot_mount_offset_y="${robot_mount_offset_y}"
      robot_mount_offset_z="${robot_mount_offset_z}"
      robot_mount_offset_theta="${robot_mount_offset_theta}"
      robot_mount_height="${robot_mount_height}"
      robot_mount_length="${robot_mount_length}"
      robot_mount_width="${robot_mount_width}"
      robot_base_tilt="${robot_base_tilt}"
      left_arm="${left_arm}"
      right_arm="${right_arm}"
      camera_mount_offset_z="${camera_mount_offset_z}"
    />

    <!--Add collision to base-->
    <gazebo reference="robot_mount_base">
      <selfCollide>true</selfCollide>
    </gazebo>
    
    <!-- Gazebo Plugins -->
    <!--xacro:gazebo_d435 
      camera_name="${camera_name}" 
      reference_link="${camera_name}_link" 
      topics_ns="${topics_ns}" 
      depth_optical_frame="${camera_name}_depth_optical_frame" 
      color_optical_frame="${camera_name}_color_optical_frame" 
      infrared1_optical_frame="${camera_name}_left_ir_optical_frame" 
      infrared2_optical_frame="${camera_name}_right_ir_optical_frame"/>
  </xacro:macro-->
</robot>
