<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur">
   
  <xacro:include filename="$(find tracebot_mockup_gazebo)/urdf/tracebot_mockup_macro.urdf.xacro"/>
  <xacro:include filename="$(find ur_gazebo)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_description)/urdf/inc/ur_transmissions.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/inc/ur_common.xacro" />

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>


  <xacro:tracebot_mockup_gazebo
    robot_mount_offset_x="$(arg robot_mount_offset_x)"
    robot_mount_offset_y="$(arg robot_mount_offset_y)"
    robot_mount_offset_z="$(arg robot_mount_offset_z)"
    robot_mount_offset_theta="$(arg robot_mount_offset_theta)"
    robot_mount_length="$(arg robot_mount_length)"
    robot_mount_width="$(arg robot_mount_width)"
    robot_mount_height="$(arg robot_mount_height)"
    robot_base_tilt="$(arg robot_base_tilt)"
    left_arm="$(arg left_arm)"
    right_arm="$(arg right_arm)"/>
    
  <xacro:ur_robot_gazebo prefix="left_"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg left_arm)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg left_arm)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg left_arm)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg left_arm)/visual_parameters.yaml"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"/>
    <xacro:ur_arm_transmission prefix="left_" hw_interface="$(arg transmission_hw_interface)" />
    
  <xacro:ur_robot_gazebo prefix="right_"
    joint_limits_parameters_file="$(find ur_description)/config/$(arg right_arm)/joint_limits.yaml"
    kinematics_parameters_file="$(find ur_description)/config/$(arg right_arm)/default_kinematics.yaml"
    physical_parameters_file="$(find ur_description)/config/$(arg right_arm)/physical_parameters.yaml"
    visual_parameters_file="$(find ur_description)/config/$(arg right_arm)/visual_parameters.yaml"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    safety_limits="false"
    safety_pos_margin="0.15"
    safety_k_position="20"/>
  <xacro:ur_arm_transmission prefix="right_" hw_interface="$(arg transmission_hw_interface)" />

  
  <joint name="left_base_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="left_robot_mount"/>
    <child link="left_base_link"/>
  </joint>

  <joint name="right_base_link_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="right_robot_mount"/>
    <child link="right_base_link"/>
  </joint>
  
  <link name="world"/>
  <joint name="world_joint" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>
</robot>
