<launch>

  <arg name="interactive" default="false"/>

  <arg name="table_length" default="2.0"/>
  <arg name="table_width" default="2.0"/>
  <arg name="table_height" default="1.0"/>
  <arg name="robot_mount_offset_x" default="0.0"/>
  <arg name="robot_mount_offset_y" default="-0.2"/>
  <arg name="robot_mount_offset_theta" default="0.0"/>
  <arg name="robot_mount_length" default="0.2"/>
  <arg name="robot_mount_width" default="0.2"/>
  <arg name="robot_mount_height" default="0.6"/>
  <arg name="robot_base_tilt" default="0.0"/>
  <arg name="pump_offset_x" default="0.0"/>
  <arg name="pump_offset_y" default="0.2"/>
  <arg name="pump_offset_theta" default="0.0"/>
  <arg name="pump_length" default="0.2"/>
  <arg name="pump_width" default="0.3"/>
  <arg name="pump_height" default="0.4"/>

  <include file="$(find tracebot_mockup_description)/launch/load_model.launch" pass_all_args="True"/>

  <node if="$(arg interactive)" name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui"/>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tracebot_mockup_description)/config/tracebot_mockup.rviz"/>

</launch>
